$variant: 'dark';

@import 'gnome-shell-sass/_colors';

$pfx: 'color-picker';

.#{$pfx}-menu {
    .popup-menu-ornament { width: 0 !important; }
}

.#{$pfx}-label {
    color: $dark_5;
    padding: 0.3em;
    min-width: 6em;
    font-size: 1.4em;
    border-radius: 0.4em;
    background-color: $light_1;
    box-shadow: 0 0 4px transparentize($dark_5, 0.5);
}

.#{$pfx}-button {
    padding: 0 0.5em;
}

.#{$pfx}-systray:busy {
    color: lighten($selected_bg_color, 10%);
}

.#{$pfx}-setting:hover {
    color: lighten($selected_bg_color, 5%);
}
