@import 'gnome-shell-sass/_colors';

$pfx: 'color-picker';

@function tone($color, $percent: 10%, $reverse: true){
    @return if($variant==if($reverse, 'light', 'dark'), darken($color, $percent), lighten($color, $percent))
}

.#{$pfx}-label {
    color: $fg_color;
    padding: 0.3em;
    min-width: 6em;
    font-size: 1.4em;
    border-radius: 0.4em;
    background-color: tone($bg_color);
    border: 0.05em solid transparentize($fg_color, 0.6); /* box-shadow leads afterimage when moving */
}

.#{$pfx}-button {
    padding: 0 0.5em;
}

.#{$pfx}-systray:state-busy {
    color: tone($selected_bg_color);
}

.#{$pfx}-item-label {
    font-family: monospace;
    &:focus { outline: 0.15em solid transparentize($selected_bg_color, 0.3); }
}

.#{$pfx}-icon {
    padding: 0 0.15em;
    &:hover { color: tone($selected_bg_color, 5%); }
    &:focus { outline: 0.15em solid transparentize($selected_bg_color, 0.3); }
}
