/* Add your custom extension styling here */
.color-picker {
}

.active .color-picker {
    color: deepskyblue;
}

.color-picker-button:hover {
    color: deepskyblue;
}

.color-picker-history:hover {
    color: pink;
}

.color-picker-collection {
    color: pink;
}

.color-picker-collection:hover {
    color: deepskyblue;
}

